In [2]:
import pandas as pd


cities=['London','Berlin','Warsaw','Paris']

d=pd.Series(cities)
d

0    London
1    Berlin
2    Warsaw
3     Paris
dtype: object

In [2]:
primeNumbers=(2,3,5,7,11,13)
pd.Series(primeNumbers)

0     2
1     3
2     5
3     7
4    11
5    13
dtype: int64

In [3]:
logicalv=[True,False,True]
pd.Series(logicalv)

0     True
1    False
2     True
dtype: bool

In [9]:
inne={'Cos':12,
    'Inne':123,
    'Jeszcze':1341,
    'Wiecej':21
   }
s=pd.Series(inne)

In [10]:
s.size

4

In [11]:
s.nbytes

32

In [12]:
s.is_unique

True

In [13]:
s.is_monotonic_decreasing

False

In [14]:
s.index

Index(['Cos', 'Inne', 'Jeszcze', 'Wiecej'], dtype='object')

In [15]:
d.values

array(['London', 'Berlin', 'Warsaw', 'Paris'], dtype=object)

In [16]:
d.value_counts

<bound method IndexOpsMixin.value_counts of 0    London
1    Berlin
2    Warsaw
3     Paris
dtype: object>

In [17]:
d.shape

(4,)

In [18]:
s.axes

[Index(['Cos', 'Inne', 'Jeszcze', 'Wiecej'], dtype='object')]

In [19]:
monotonicList=(1,4,6,89,435)
monoSeries=pd.Series(monotonicList)
monoSeries.sum()

535

In [20]:
monoSeries.min()

1

In [21]:
monoSeries.max()

435

In [22]:
monoSeries.count()

5

In [23]:
monoSeries.product()

929160

In [24]:
monoSeries.keys()

RangeIndex(start=0, stop=5, step=1)

In [25]:
monoSeries.index

RangeIndex(start=0, stop=5, step=1)

In [26]:
monoSeries.to_list()

[1, 4, 6, 89, 435]

In [29]:
b=monoSeries.add(10)

In [30]:
b

0     11
1     14
2     16
3     99
4    445
dtype: int64

In [31]:
currencies=['USD','EUR','PLN','EUR','EUR']
countries=['USA','Spain','Poland','Portugal','Italy']

cuSeries=pd.Series(countries,currencies)
cuSeries

USD         USA
EUR       Spain
PLN      Poland
EUR    Portugal
EUR       Italy
dtype: object

In [32]:
cuSeries2=pd.Series(currencies,countries)
cuSeries2

USA         USD
Spain       EUR
Poland      PLN
Portugal    EUR
Italy       EUR
dtype: object

In [33]:
cuSeries3=pd.Series(index=currencies,data=countries)
cuSeries3

USD         USA
EUR       Spain
PLN      Poland
EUR    Portugal
EUR       Italy
dtype: object

In [34]:
dict= {'USD':'USA','USD':'Ecuador'}
dict

{'USD': 'Ecuador'}

In [3]:
numbers = [1,2,3,10,11,13]
numSeries=pd.Series(numbers)

In [4]:
numSeries>10

0    False
1    False
2    False
3    False
4     True
5     True
dtype: bool

In [5]:
numSeries.where(numSeries>10)

0     NaN
1     NaN
2     NaN
3     NaN
4    11.0
5    13.0
dtype: float64

In [6]:
numSeries.where(numSeries>10,other=-1)

0    -1
1    -1
2    -1
3    -1
4    11
5    13
dtype: int64

In [7]:
numSeries.where(numSeries>10).dropna()

4    11.0
5    13.0
dtype: float64

In [9]:
numSeries.filter(items=[0,2,3])

0     1
2     3
3    10
dtype: int64

In [10]:
#numSeries.where(numSeries>10 & numSeries%2==1)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [11]:
numbersOdd=numSeries.where(numSeries%2!=0)
numbersOdd

0     1.0
1     NaN
2     3.0
3     NaN
4    11.0
5    13.0
dtype: float64

In [28]:
numOdd=numSeries%2!=0

In [16]:
numGreater = numSeries>10
numGreater

0    False
1    False
2    False
3    False
4     True
5     True
dtype: bool

In [37]:
numSeries.where(numGreater & numOdd).dropna()

4    11.0
5    13.0
dtype: float64

In [38]:
numSeries.between(2,12)

0    False
1     True
2     True
3     True
4     True
5    False
dtype: bool

In [46]:
Bet=numSeries.between(2,12)
numBet=numSeries.where(Bet).dropna()
numBet

1     2.0
2     3.0
3    10.0
4    11.0
dtype: float64