In [124]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd

In [14]:
pok=pd.read_csv('F:/PandasUdemy/course-files/pokemon.csv',usecols=['Name']).squeeze()

In [18]:
pok.sort_values(ascending=False).head()

794    Zygarde50% Forme
695            Zweilous
46                Zubat
631               Zorua
632             Zoroark
Name: Name, dtype: object

In [20]:
pok

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [29]:
pok.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [30]:
pok_sor=pok.sort_values(ascending=False)
pok_sor.head()

794    Zygarde50% Forme
695            Zweilous
46                Zubat
631               Zorua
632             Zoroark
Name: Name, dtype: object

In [32]:
pok.sort_index(ascending=False).head()

799              Volcanion
798     HoopaHoopa Unbound
797    HoopaHoopa Confined
796    DiancieMega Diancie
795                Diancie
Name: Name, dtype: object

In [33]:
countries=['EU','US','PL','IT']
'PL' in countries

True

In [34]:
'ES' in countries

False

In [35]:
coSer=pd.Series(countries)

In [36]:
coSer

0    EU
1    US
2    PL
3    IT
dtype: object

In [37]:
'EU' in coSer

False

In [38]:
0 in coSer

True

In [39]:
pok.index

RangeIndex(start=0, stop=800, step=1)

In [41]:
'EU' in coSer.values

True

In [42]:
pok[73]

'Machoke'

In [43]:
pok[[73,65]]

73    Machoke
65    Poliwag
Name: Name, dtype: object

In [46]:
pok[63:65]

63    Growlithe
64     Arcanine
Name: Name, dtype: object

In [57]:
i=['a','b','c','d','e','e']
v=['Austria','Belgium','Canada','Denmark','England','Estonia']
s=pd.Series(index=i,data=v)

In [58]:
s

a    Austria
b    Belgium
c     Canada
d    Denmark
e    England
e    Estonia
dtype: object

In [59]:
s['e']

e    England
e    Estonia
dtype: object

In [60]:
s[1]

C:\Users\kpas9\AppData\Local\Temp\ipykernel_4068\878419959.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[1]

'Belgium'

In [61]:
s.get('e')

e    England
e    Estonia
dtype: object

In [62]:
s.get(1)

C:\Users\kpas9\AppData\Local\Temp\ipykernel_4068\2636016302.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s.get(1)

'Belgium'

In [65]:
s.at['e']

e    England
e    Estonia
dtype: object

In [66]:
s.iat[1]

'Belgium'

In [67]:
s.iat[1:2]

ValueError: iAt based indexing can only have integer indexers

In [68]:
s.loc['b']

'Belgium'

In [69]:
s.loc['e']

e    England
e    Estonia
dtype: object

In [72]:
s.iloc[1:3]

b    Belgium
c     Canada
dtype: object

In [73]:
s.iloc[[1,3]]

b    Belgium
d    Denmark
dtype: object

In [74]:
searchlist=['a','b']

In [75]:
s.loc[searchlist]

a    Austria
b    Belgium
dtype: object

In [76]:
searchnotfound=['a','h']

In [81]:
s.loc[s.index.intersection(searchnotfound)]

a    Austria
dtype: object

In [84]:
countries=pd.read_csv('F:/PandasUdemy/course-files/countries.csv',usecols=['Symbol','Name'],index_col='Symbol').squeeze()

In [85]:
countries

Symbol
AF                                          Afghanistan
AL                                              Albania
DZ                                              Algeria
AD                                              Andorra
AO                                               Angola
                            ...
ZM                                               Zambia
QR    Stores and provisions within the framework of ...
CV                                           Cape Verde
ZW                                             Zimbabwe
AE                                 United Arab Emirates
Name: Name, Length: 245, dtype: object

In [86]:
countries.dropna(inplace=True)

In [87]:
countries.head(20)

Symbol
AF            Afghanistan
AL                Albania
DZ                Algeria
AD                Andorra
AO                 Angola
AI               Anguilla
AQ             Antarctica
AG    Antigua and Barbuda
SA           Saudi Arabia
AR              Argentina
AM                Armenia
AW                  Aruba
AU              Australia
AT                Austria
AZ             Azerbaijan
BS                Bahamas
BH                Bahrain
BD             Bangladesh
BB               Barbados
BE                Belgium
Name: Name, dtype: object

In [90]:
toFind=['BB','BS']

In [91]:
countries.loc[toFind]

Symbol
BB    Barbados
BS     Bahamas
Name: Name, dtype: object

In [92]:
toFindError=['BB','BS','AA']

In [95]:
countries.loc[countries.index.intersection(toFindError)]

Symbol
BS     Bahamas
BB    Barbados
Name: Name, dtype: object

In [39]:
pok=pd.read_csv('F:/PandasUdemy/course-files/pokemon.csv',usecols=['Name','Attack'],index_col='Name').squeeze()

In [14]:
pok.head()

Attack
49                 Bulbasaur
62                   Ivysaur
82                  Venusaur
100    VenusaurMega Venusaur
52                Charmander
Name: Name, dtype: object

In [15]:
pok.loc[62]

Attack
62     Ivysaur
62    Nidorina
62     Bayleef
62      Snover
Name: Name, dtype: object

In [16]:
pok.iloc[6]

'Charizard'

In [18]:
pok[[62,58]]

Attack
62     Ivysaur
62    Nidorina
62     Bayleef
62      Snover
58     Lanturn
58    Chimchar
58    Sigilyph
58     Dedenne
Name: Name, dtype: object

In [30]:
pok[pok=='Ivysaur'].index

Index([62], dtype='int64', name='Attack')

In [33]:
pok.iloc[62]

'Primeape'

In [34]:
fortune500=pd.read_csv('F:/PandasUdemy/course-files/Fortune_500_2017.csv',usecols=['Rank','Title'],index_col='Rank').squeeze()

In [35]:
fortune500.head(10)

Rank
1                Walmart
2     Berkshire Hathaway
3                  Apple
4            Exxon Mobil
5               McKesson
6     UnitedHealth Group
7             CVS Health
8         General Motors
9                   AT&T
10            Ford Motor
Name: Title, dtype: object

In [36]:
fortune500.tail(20)

Rank
481           Booz Allen Hamilton Holding
482                              Chemours
483    Western & Southern Financial Group
484                              Celanese
485                   Windstream Holdings
486                              Seaboard
487                             Essendant
488                                Apache
489                                Airgas
490                        Kelly Services
491                         Liberty Media
492                      Rockwell Collins
493             Robert Half International
494                             CH2M Hill
495                              Big Lots
496                         Michaels Cos.
497                         Toll Brothers
498                                 Yahoo
499                         Vistra Energy
500                        ABM Industries
Name: Title, dtype: object

In [39]:
fortune500=pd.read_csv('F:/PandasUdemy/course-files/Fortune_500_2017.csv',usecols=['Title','Employees'],index_col='Title').squeeze()

In [40]:
fortune500.head()

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
Name: Employees, dtype: int64

In [45]:
fortune500.loc['Intel']

106000

In [46]:
fortune500.loc['IBM']

414400

In [51]:
fortune500.loc['IBM':'Intel']

Title
IBM                          414400
State Farm Insurance Cos.     68234
Phillips 66                   14800
Johnson & Johnson            126400
Procter & Gamble             105000
Valero Energy                  9996
Target                       323000
Freddie Mac                    5982
Loweâ€™s                       240000
Dell Technologies            138000
MetLife                       58000
Aetna                         49500
PepsiCo                      264000
Archer Daniels Midland        31800
UPS                          335520
Intel                        106000
Name: Employees, dtype: int64

In [44]:
pokType=pd.read_csv('F:/PandasUdemy/course-files/pokemon.csv',usecols=['Name','Type 2'],index_col='Name').squeeze()

In [57]:
pokType.count()

414

In [61]:
pokType.head()

Name
Bulbasaur                Poison
Ivysaur                  Poison
Venusaur                 Poison
VenusaurMega Venusaur    Poison
Charmander                  NaN
Name: Type 2, dtype: object

In [62]:
pokType.value_counts()

Type 2
Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: count, dtype: int64

In [73]:
pok.min()

5

In [71]:
pok.mean()

79.00125

In [74]:
pok.median()

75.0

In [75]:
pok.std()

32.45736586949843

In [5]:
programmers=pd.read_csv('F:/PandasUdemy/course-files/StackOverflowDeveloperSurvey2018.csv',
                        low_memory=False,usecols=['ConvertedSalary']).squeeze()

In [6]:
programmers.median()

55075.0

In [9]:
programmers.mean()

95780.86178776571

In [10]:
programmers.std()

202348.21562528735

In [11]:
programmers.max()

2000000.0

In [14]:
fortune500=pd.read_csv('F:/PandasUdemy/course-files/Fortune_500_2017.csv',usecols=['Title','Employees'],index_col='Title').squeeze()

In [15]:
fortune500.head()

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
Name: Employees, dtype: int64

In [26]:
fortune500[fortune500==fortune500.max()].index[0]

'Walmart'

In [27]:
fortune500.idxmax()

'Walmart'

In [31]:
fortune500.loc[fortune500.idxmax()]

2300000

In [32]:
fortune500.idxmin()

'A-Mark Precious Metals'

In [37]:
fortune500.loc['A-Mark Precious Metals']
fortune500.loc[fortune500.idxmin()]

83

In [40]:
pok * 100

Name
Bulbasaur                 4900
Ivysaur                   6200
Venusaur                  8200
VenusaurMega Venusaur    10000
Charmander                5200
                         ...
Diancie                  10000
DiancieMega Diancie      16000
HoopaHoopa Confined      11000
HoopaHoopa Unbound       16000
Volcanion                11000
Name: Attack, Length: 800, dtype: int64

In [42]:
pok.iloc[2]=666

In [43]:
pok.head()

Name
Bulbasaur                 49
Ivysaur                   62
Venusaur                 666
VenusaurMega Venusaur    100
Charmander                52
Name: Attack, dtype: object

In [46]:
pokType.str.upper()

Name
Bulbasaur                POISON
Ivysaur                  POISON
Venusaur                 POISON
VenusaurMega Venusaur    POISON
Charmander                  NaN
                          ...
Diancie                   FAIRY
DiancieMega Diancie       FAIRY
HoopaHoopa Confined       GHOST
HoopaHoopa Unbound         DARK
Volcanion                 WATER
Name: Type 2, Length: 800, dtype: object

In [49]:
pokT= 'TYPE: ' + pokType.str.upper()

In [50]:
pokT

Name
Bulbasaur                TYPE: POISON
Ivysaur                  TYPE: POISON
Venusaur                 TYPE: POISON
VenusaurMega Venusaur    TYPE: POISON
Charmander                        NaN
                             ...
Diancie                   TYPE: FAIRY
DiancieMega Diancie       TYPE: FAIRY
HoopaHoopa Confined       TYPE: GHOST
HoopaHoopa Unbound         TYPE: DARK
Volcanion                 TYPE: WATER
Name: Type 2, Length: 800, dtype: object

In [52]:
pokType.value_counts()

Type 2
Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: count, dtype: int64

In [64]:
def ReplaceType(OldValue):
    if OldValue =='Grass' or OldValue == 'Ground':
        return 'Nature'
    else:
        return OldValue

In [69]:
pok=pd.read_csv('F:/PandasUdemy/course-files/pokemon.csv',usecols=['Name','Type 2'],index_col='Name').squeeze()
pok.head()

Name
Bulbasaur                Poison
Ivysaur                  Poison
Venusaur                 Poison
VenusaurMega Venusaur    Poison
Charmander                  NaN
Name: Type 2, dtype: object

In [66]:
pokNat = pok.apply(ReplaceType)

In [67]:
pokNat.value_counts()

Type 2
Flying      97
Nature      60
Poison      34
Psychic     33
Fighting    26
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: count, dtype: int64

In [95]:
pok.head()

Name
Bulbasaur                Poison
Ivysaur                  Poison
Venusaur                 Poison
VenusaurMega Venusaur    Poison
Charmander                  NaN
Name: Type 2, dtype: object

In [98]:
pokU=pok.apply(lambda s:s.upper() if isinstance(s, str) else s)

In [99]:
pokU.head()

Name
Bulbasaur                POISON
Ivysaur                  POISON
Venusaur                 POISON
VenusaurMega Venusaur    POISON
Charmander                  NaN
Name: Type 2, dtype: object

In [100]:
surveys=pd.read_csv('F:/PandasUdemy/course-files/StackOverflowDeveloperSurvey.csv',usecols=['Salary']).squeeze()

In [101]:
surveys.dropna(inplace=True)

In [102]:
surveys.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [103]:
surveys.value_counts()

Salary
120000.000000    167
110000.000000    164
100000.000000    155
75000.000000     149
60000.000000     139
                ...
45243.750000       1
2634.408602        1
1238.765432        1
66300.000000       1
6460.138012        1
Name: count, Length: 3049, dtype: int64

In [107]:
surveysIncrease = surveys*1,0o3

In [112]:
surveysTime=pd.read_csv('F:/PandasUdemy/course-files/StackOverflowDeveloperSurvey2018.csv',low_memory=False,usecols=['HoursOutside']).squeeze()

In [113]:
surveysTime.dropna(inplace=True)

In [114]:
surveysTime.value_counts()

HoursOutside
1 - 2 hours             27788
30 - 59 minutes         24002
Less than 30 minutes    11223
3 - 4 hours              7186
Over 4 hours             1825
Name: count, dtype: int64

In [116]:
sTU=surveysTime.apply(lambda s:s.upper())

In [117]:
sTU.head()

0             1 - 2 HOURS
1         30 - 59 MINUTES
3    LESS THAN 30 MINUTES
4             1 - 2 HOURS
5         30 - 59 MINUTES
Name: HoursOutside, dtype: object

In [121]:
def ChangeDescription(OldDescr):
    if OldDescr == 'LESS THAN 30 MINUTES':
        return 'LESS THAN HALFHOUR'
    else:
        return OldDescr

In [122]:
sTUC = sTU.apply(ChangeDescription)

In [123]:
sTUC

0               1 - 2 HOURS
1           30 - 59 MINUTES
3        LESS THAN HALFHOUR
4               1 - 2 HOURS
5           30 - 59 MINUTES
                ...
93408           1 - 2 HOURS
93416           3 - 4 HOURS
93435           1 - 2 HOURS
93442    LESS THAN HALFHOUR
93462           1 - 2 HOURS
Name: HoursOutside, Length: 72024, dtype: object

In [125]:
dict = {
    'PYT001':'Airbus 320',
    'PYT002':'Boeing 737',
    'PYT003':'Airbus 321'
}

In [126]:
aircrafts = pd.Series(dict)

In [136]:
aircrafts

PYT001    Airbus 320
PYT002    Boeing 737
PYT003    Airbus 321
dtype: object

In [142]:
flightsList = []

In [143]:
for i in range(100):
    flightsList.append(rd.choice(aircrafts.index))

In [144]:
flightsList

['PYT002',
 'PYT003',
 'PYT003',
 'PYT001',
 'PYT003',
 'PYT001',
 'PYT002',
 'PYT001',
 'PYT002',
 'PYT001',
 'PYT003',
 'PYT001',
 'PYT001',
 'PYT001',
 'PYT002',
 'PYT003',
 'PYT001',
 'PYT003',
 'PYT001',
 'PYT003',
 'PYT003',
 'PYT002',
 'PYT001',
 'PYT001',
 'PYT001',
 'PYT002',
 'PYT002',
 'PYT002',
 'PYT003',
 'PYT002',
 'PYT001',
 'PYT002',
 'PYT003',
 'PYT003',
 'PYT002',
 'PYT002',
 'PYT001',
 'PYT002',
 'PYT002',
 'PYT003',
 'PYT003',
 'PYT002',
 'PYT001',
 'PYT002',
 'PYT001',
 'PYT003',
 'PYT001',
 'PYT002',
 'PYT001',
 'PYT003',
 'PYT002',
 'PYT003',
 'PYT001',
 'PYT001',
 'PYT002',
 'PYT001',
 'PYT001',
 'PYT001',
 'PYT002',
 'PYT003',
 'PYT003',
 'PYT001',
 'PYT003',
 'PYT002',
 'PYT003',
 'PYT003',
 'PYT001',
 'PYT002',
 'PYT003',
 'PYT003',
 'PYT002',
 'PYT002',
 'PYT002',
 'PYT001',
 'PYT003',
 'PYT001',
 'PYT002',
 'PYT001',
 'PYT003',
 'PYT001',
 'PYT002',
 'PYT001',
 'PYT002',
 'PYT003',
 'PYT002',
 'PYT001',
 'PYT001',
 'PYT003',
 'PYT003',
 'PYT001',
 'PYT001',
 'PYT003',
 'PYT001',
 'PYT001',
 'PYT002',
 'PYT003',
 'PYT002',
 'PYT003',
 'PYT001',
 'PYT003']

In [147]:
flights=pd.Series(flightsList)

In [148]:
flights.head()

0    PYT002
1    PYT003
2    PYT003
3    PYT001
4    PYT003
dtype: object

In [149]:
aircrafts.head()

PYT001    Airbus 320
PYT002    Boeing 737
PYT003    Airbus 321
dtype: object

In [150]:
flights_aircrafts = flights.map(aircrafts)

In [151]:
flights_aircrafts.head()

0    Boeing 737
1    Airbus 321
2    Airbus 321
3    Airbus 320
4    Airbus 321
dtype: object